require "./runtime"
require "./<%= info.service_dir %>/client"
require "./<%= info.service_dir %>/errors"
require "./<%= info.service_dir %>/model"
require "./<%= info.service_dir %>/types"
require "./<%= info.service_dir %>/protocol/<%= protocol_file %>"
require "./customizations/<%= info.service_dir %>/customizations"
